<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Wall Of Fame</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/home">Home</a>
      <a class="nav-item nav-link" href="/reviews">Student Reviews</a>
      <a class="nav-item nav-link" href="https://aithon2020.com/">Aithon 2020</a>
    </div>
    </div>
      <a class="btn btn-danger btn-lg" href="https://pages.razorpay.com/pl_E7AXNFkwEAvlzs/view">Register</a>
  </nav>